.git
.github
.tmp
.temp*
.uv-cache
.ruff_cache
.temp_tests
.qoder
*.md
data/
frontend/node_modules
frontend/dist
frontend/dev-dist
backend/chewy_space
backend/var
backend/.venv
backend/dist
backend/coverage
backend/.temp*
**/.secret_key
__pycache__
**/__pycache__
*.pyc
**/*.pyc
.env
.env.*
**/.env
**/.env.*
!.env.example
